body{
    font-family: 'poppins', sans-serif;
}

h2{
    text-align: center;
    padding: 2rem;

}

.cover-image img{
  width: 100%; /* full width minus 20px margin on each side */
  height: 50vh;             /* one-third of viewport height */
  display: block; 
  object-fit: cover; 

}
.cover-image{
    padding: 0rem 2rem;
}

.btn{
    display: flex;
    justify-content: center ;
}

.btn-load{
    width: 300px;
    margin-top: 50px;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 0.375rem;
    background-color: #fff;;
    color: var(--primary-color);
    
}

.btn-load:hover {
    background-color: var(--primary-color); 
    color:#fff;
}

.grid{
    padding: 1rem 7rem 1rem 7rem;
}

   .hero {
      background-image: url('../img/image.png');
      background-size: cover;
      background-position: center;
      min-height: 950px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      padding: 20px;
    }
    .hero h2 {
      font-size: 2.5rem;
      margin-bottom: 10px;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    }
    .hero p {
      font-size: 1.2rem;
      margin-bottom: 20px;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    }
    .search-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
    .search-form input[type="text"] {
      padding: 10px;
      border: none;
      border-radius: 4px;
      width: 200px;
    }
    .search-form button {
      background-color: #f1faee;
      color: #e63946;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }
    .search-form button:hover {
      background-color: #ddd;
    }